<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>食堂信息系统登录页面</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/navbar.js"></script>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-success">
    <div class="container-fluid">
        <img src="#" alt="" width="138" height="44" class="d-inline-block align-text-top">
    </div>
</nav>

<div class="login-form-container">
    <div class="brand-container">
        <img src="#" width="200" height="75">
    </div>
    <div class="alert alert-danger alert-mg-b" th:style="${loginFail==null}?'display:none;'"
         th:text="${loginFail}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        Indicates a dangerous negative action.
    </div>
    <form id="loginForm" method="post" action="/user/login" enctype="multipart/form-data">
        <div class="input-box-container">
            <div>您的身份是
                <label><input name="ident" type="radio" value="1" ONCLICK="fun1()"/>用户 </label>
                <label><input name="ident" type="radio" value="2" ONCLICK="fun2()"/>商家 </label>
            </div>
                <input type="text" class="form-control" id="phone" name="uAccount" placeholder="请输入账号">
        </div>
        <div class="input-box-container">
            <input type="password" class="form-control" id="password" name="uPassword"  placeholder="请输入密码">
        </div>
    </form>
        <div class="login-btn-container">
            <a id="log" >
                <button class="btn btn-primary login-btn" onclick="tijiao()">登录</button>
            </a>
            <a id="storelog" style="display: none" >
                <button class="btn btn-primary login-btn" onclick="tijiao2()">登录</button>
            </a>
            <a id="reg" href="/toRegister">
                <button class="btn btn-primary login-btn">注册</button>
            </a>
            <a id="storereg" style="display: none" href="/toStoreRegister">
                <button class="btn btn-primary login-btn">商家注册</button>
            </a>
        </div>


</div>
<nav class=" navbar fixed-bottom bg-success" style="margin: 0 0 0 0;">
    <div class="container-fluid">
        <a style="display:inline-block; width:1700px; text-align:center; color: #dde0e3">食堂预约系统</a>
    </div>
</nav>


<script language="JavaScript">


    function fun1() {
        // document.getElementById("endTime").value = "用户";
        document.getElementById("storereg").style.display = 'none';
        document.getElementById("reg").style.display = 'unset';
        document.getElementById("storelog").style.display = 'none';
        document.getElementById("log").style.display = 'unset';
    }

    function fun2() {
        // document.getElementById("endTime").value = "s商家";
        document.getElementById("reg").style.display = 'none';
        document.getElementById("storereg").style.display = 'unset';
        document.getElementById("log").style.display = 'none';
        document.getElementById("storelog").style.display = 'unset';

    }

    function tijiao(){
        document.getElementById("loginForm").submit();
    }

    function tijiao2(){
        document.getElementById("phone").name = "sAccount";
        document.getElementById("password").name = "sPassword";
        var loginForm = document.getElementById("loginForm");
        loginForm.action = "/store/login";
        loginForm.submit();
    }

</script>

</body>
</html>