<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/mainpage.css">
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../js/navbar.js"></script>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-success">
    <div class="container-fluid">
        <img src="#" alt="" width="138" height="44" class="d-inline-block align-text-top">
    </div>
</nav>
<div style=" margin: 0 auto; left: 65%; position: absolute; margin: 0 0 0 -650px;height: 100%;">
    <form class="main-panel row g-3 needs-validation" novalidate>

        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">姓名/店铺名</label>
            <input type="text" class="form-control" id="validationTooltip01" value="陈瀛" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 position-relative" id="sex">
            <label for="validationTooltip04" class="form-label">性别</label>
            <select class="form-select" id="validationTooltip04" required>
                <option selected disabled value="">男</option>
                <option>男</option>
                <option>女</option>
            </select>
            <div class="invalid-tooltip">
                Please select a valid state.
            </div>
        </div>

        <div class="col-md-8 position-relative">
            <label for="validationTooltip01" class="form-label">账号</label>
            <input type="text" class="form-control" id="validationTooltip10" value="13711111111" required>
            <div class="valid-tooltip">
            </div>
        </div>
        <div class="col-md-8 position-relative">
            <label for="validationTooltip01" class="form-label">密码</label>
            <input type="text" class="form-control" id="validationTooltip11" value="13711111111" required>
            <div class="valid-tooltip">
            </div>
        </div>

        <div class="col-md-8 position-relative">
            <label for="validationTooltip01" class="form-label">联系方式</label>
            <input type="text" class="form-control" id="validationTooltip07" value="13711111111" required>
            <div class="valid-tooltip">
            </div>
        </div>

        <div class="col-md-8 position-relative" style=" margin: 20px 0 0 350px;">
            <button class="btn btn-primary" type="button">修改</button>
        </div>
        <!--<div class="col-6">-->
        <!--<button class="btn btn-primary" type="button" onclick=" history.go(-1)">返回</button>-->
        <!--</div>-->

        <script>
            function myFunction() {
                var txt;
                if (confirm("确认上传")) {
                    alert("上传成功");
                } else {
                }
                document.getElementById("demo").innerHTML = txt;
            }


            // function fun1() {
            //     document.getElementById("endTime").value = document.getElementById('ident').value;
            //     var a = document.getElementById('address');
            //     var c = document.getElementById('photo');
            //     var d = document.getElementById('detail');
            //     var e = document.getElementById('sex');
            //
            //     if(document.getElementById('ident').value="1") {
            //         a.style.visibility = "hidden";
            //         c.style.visibility = "hidden";
            //         d.style.visibility = "hidden";
            //         e.style.visibility = "visible";
            //     }
            //
            //     if(document.getElementById('ident').value="2"){
            //         a.style.visibility = "visible";
            //         c.style.visibility = "visible";
            //         d.style.visibility = "visible";
            //         e.style.visibility = "hidden";
            //     }
            // }
        </script>


    </form>


    <nav class=" navbar fixed-bottom bg-success " style="margin: 0 0 0 0;">
        <div class="container-fluid">
            <a style="display:inline-block; width:1700px; text-align:center; color: #dde0e3">食堂预约系统</a>
        </div>
    </nav>
</div>
</body>


</html>