<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>商家详情</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/mainpage.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/navbar.js"></script>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-success">
    <div class="container-fluid">
        <img src="#" alt="" width="138" height="44" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">食堂预约管理系统</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: #1a1e21" aria-current="page"
                           href="/toStoreList">食堂商家</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #1a1e21" href="/toMyOrders">我的订单</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: #1a1e21" href="#" id="offcanvasNavbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            陈瀛
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" href="/toUserInfo">我的信息</a></li>
                            <li><a class="dropdown-item" href="/login">退出账号</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<br/><br/>


<form class="main-panel row g-3 needs-validation"
      style=" margin: 0 auto; left: 15%;right: 15%; position: absolute; margin: 0 0 0 0;" novalidate>
    <table class="pure-table">
        <thead>
        <tr>
            <th>#</th>
            <th>菜名</th>
            <th>价格</th>
            <th>简介</th>
            <th>数量</th>
            <th>订单选择</th>

        </tr>
        </thead>

        <tbody>
        <tr class="pure-table-odd">
            <td>1</td>
            <td>番茄炒蛋</td>
            <td>8</td>
            <td>番茄+鸡蛋1111111111111111111111</td>
            <td>
                数量: <input value="-" type="button" onclick="numDec()"> <input type="text" value="0" id="quantity"/>
                <input value="+" type="button" onclick="numAdd()">
            </td>
            <td>
                <label><input name="1" type="checkbox" value=""/>加入订单</label>

            </td>
        </tr>


        </tbody>
    </table>
    <div class="col-md-8 position-relative" style=" margin: 20px 0 0 350px;">

        <button class="btn btn-primary" onclick="return confirm('确认下此订单？')">提交订单</button>
    </div>


</form>



<!--<script type="text/javascript">-->
<!--/*或者不用jquery*/-->
<!--/*商品数量框输入*/-->
<!--function keyup(){-->
<!--var quantity = document.getElementById("quantity").value;-->
<!--if(isNaN(quantity) ||  parseInt(quantity)!=quantity || parseInt(quantity)<1){-->
<!--quantity = 1;-->
<!--return;-->
<!--}-->
<!--if(quantity>=10){-->
<!--document.getElementById("quantity").value=quantity.substring(0,quantity.length-1);-->
<!--alert("商品数量不能大于10");-->
<!--}-->
<!--}-->

<!--/*商品数量+1*/-->
<!--function numAdd(){-->
<!--var quantity = document.getElementById("quantity").value;-->
<!--var num_add = parseInt(quantity)+1;-->
<!--var price=document.getElementById("price").value;-->
<!--if(quantity==""){-->
<!--num_add = 1;-->
<!--}-->
<!--if(num_add>=10){-->
<!--document.getElementById("quantity").value=num_add-1;-->
<!--alert("商品数量不能大于10");-->
<!--}else{-->
<!--document.getElementById("quantity").value=num_add;-->
<!--var Num=price*num_add;-->
<!--document.getElementById("totalPrice").innerHTML=Num.toFixed(2);-->
<!--}-->
<!--}-->
<!--/*商品数量-1*/-->
<!--function numDec(){-->
<!--var quantity = document.getElementById("quantity").value;-->
<!--var price=document.getElementById("price").value;-->
<!--var num_dec = parseInt(quantity)-1;-->
<!--if(num_dec>0){-->
<!--document.getElementById("quantity").value=num_dec;-->
<!--var Num=price*num_dec;-->
<!--document.getElementById("totalPrice").innerHTML=Num.toFixed(2);-->
<!--}-->
<!--}-->
<!--function show()-->
<!--{-->
<!--document.getElementById("totalPrice").innerHTML=3.25*3;-->
<!--}-->
<!--</script>-->

<!--</head>-->
<!--<body>-->
<!--<p>Quantity: <span οnclick="numDec()">-</span> <input type="text" id="quantity" /> <span οnclick="numAdd()">+</span></p>-->
<!--<p class="sdsd">Total Price: <span id="totalPrice">28.10</span></p>-->
<!--<input type="hidden" value="28.1" id="price" />&lt;!&ndash;单价&ndash;&gt;-->
<!--<input type="button" value="展示" οnclick="show()"/>-->
<!--————————————————-->
<!--版权声明：本文为CSDN博主「sdsxc」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。-->
<!--原文链接：https://blog.csdn.net/energeticsunxiaocong/article/details/50742331-->



<script language="javascript">
    function fun1() {
        var $tr = $("#table2 tr:eq(2)");
        $("#table1").append($tr);
    }
</script>


<nav class=" navbar fixed-bottom bg-success" style="margin: 0 0 0 0;">
    <div class="container-fluid">
        <a style="display:inline-block; width:1700px; text-align:center; color: #dde0e3">食堂预约系统</a>
    </div>
</nav>
</body>
<style type="text/css">
    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    body {
        margin: 10px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    td, th {
        padding: 0;
    }

    .pure-table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        border: 1px solid #cbcbcb;
    }

    .pure-table caption {
        color: #000;
        font: italic 85%/1 arial, sans-serif;
        padding: 1em 0;
        text-align: center;
    }

    .pure-table td, .pure-table th {
        border-left: 1px solid #cbcbcb;
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible;
        padding: .5em 1em;
    }

    .pure-table thead {
        background-color: #e0e0e0;
        color: #000;
        text-align: left;
        vertical-align: bottom;
    }

    .pure-table td {
        background-color: transparent;
    }

    .pure-table-odd td {
        background-color: #f2f2f2;
    }
</style>

<script type="text/javascript">
    /*或者不用jquery*/
    /*商品数量框输入*/
    function keyup() {
        var quantity = document.getElementById("quantity").value;
        if (isNaN(quantity) || parseInt(quantity) != quantity || parseInt(quantity) < 1) {
            quantity = 1;
            return;
        }
        if (quantity >= 10) {
            document.getElementById("quantity").value = quantity.substring(0, quantity.length - 1);
            alert("商品数量不能大于10");
        }
    }

    /*商品数量+1*/
    function numAdd() {
        var quantity = document.getElementById("quantity").value;
        var num_add = parseInt(quantity) + 1;
        if (quantity == "") {
            num_add = 1;
        }
        if (num_add >= 10) {
            document.getElementById("quantity").value = num_add - 1;
            alert("商品数量不能大于10");
        } else {
            document.getElementById("quantity").value = num_add;
            var Num = price * num_add;

        }
    }
    /*商品数量-1*/
    function numDec() {
        var quantity = document.getElementById("quantity").value;

        var num_dec = parseInt(quantity) - 1;
        if (num_dec > -1) {
            document.getElementById("quantity").value = num_dec;
            var Num = price * num_dec;
        }
    }

    function show() {
        document.getElementById("totalPrice").innerHTML = 3.25 * 3;
    }
</script>


</html>