<!DOCTYPE html>
<html lang="zh-CN">
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/mainpage.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/navbar.js"></script>
</head>

<body>
<br>
<nav class="navbar navbar-dark fixed-top bg-success">
    <div class="container-fluid">
        <img src="/images/logo.jpg" alt="" width="138" height="44" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">食堂预约管理系统</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: #1a1e21" aria-current="page"
                           href="/store/list">食堂商家</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #1a1e21" href="/toMyOrders">我的订单</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: #1a1e21" href="#" id="offcanvasNavbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.user.uName}">

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" href="/toUserInfo">我的信息</a></li>
                            <li><a class="dropdown-item" href="/login">退出账号</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div style=" margin: 0 auto; left: 65%; position: absolute; margin: 0 0 0 -590px;height: 100%;">
    <form class="main-panel row g-3 needs-validation" novalidate id="registerForm" method="post" action="/user/updateInfo" enctype="multipart/form-data">
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">姓名</label>
            <input type="text" class="form-control" id="validationTooltip01" th:value="${user.uName}" name="uName" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 position-relative">
            <label for="validationTooltip04" class="form-label">性别</label>
            <select class="form-select" id="validationTooltip04" name="uSex" required>
                <!--<option selected disabled value="">男</option>-->
                <option th:selected="${user.uSex}==0" value="0">男</option>
                <option th:selected="${user.uSex}==1" value="1">女</option>
            </select>
            <div class="invalid-tooltip">
                Please select a valid state.
            </div>
        </div>

        <div class="col-md-8 position-relative">
            <label for="validationTooltip01" class="form-label">账号</label>
            <input type="text" class="form-control" id="validationTooltip02" th:value="${user.uAccount}" name="uAccount" required>
            <div class="valid-tooltip">
            </div>
        </div>

        <div class="col-md-8 position-relative">
            <label for="validationTooltip01" class="form-label">联系方式</label>
            <input type="text" class="form-control" id="validationTooltip07" th:value="${user.uPhone}" name="uPhone" required>
            <div class="valid-tooltip">
            </div>
        </div>


        <div class="col-md-9 position-relative" style="  margin: 150px 0 0 290px;">
            <button class="btn btn-primary" type="submit" onclick="return confirm('确认提交注册信息？')">修改</button>
        </div>
    </form>


    <div class="col-md-8 position-relative" style="visibility: hidden">
        <input type="text" class="form-control" required>
        <div class="valid-tooltip">
        </div>
    </div>
    <nav class=" navbar fixed-bottom bg-success " style="margin: 0 0 0 0;">
        <div class="container-fluid">
            <a style="display:inline-block; width:1700px; text-align:center; color: #dde0e3">食堂预约系统</a>
        </div>
    </nav>
</div>

</body>
</html>