<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sspu.informationsystem.mapper.ApplyMapper">
  <resultMap id="BaseResultMap" type="sspu.informationsystem.entity.Apply">
    <!--@Table apply-->
    <id column="apply_id" jdbcType="INTEGER" property="applyId" />
    <result column="a_type" jdbcType="INTEGER" property="aType" />
    <result column="a_state" jdbcType="INTEGER" property="aState" />
    <result column="a_date" jdbcType="TIMESTAMP" property="aDate" />
    <result column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="deal_id" jdbcType="INTEGER" property="dealId" />
    <result column="examination_time" jdbcType="TIMESTAMP" property="examinationTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    apply_id, a_type, a_state, a_date, a_id, deal_id
  </sql>
  <insert id="insert" keyColumn="apply_id" keyProperty="applyId" parameterType="sspu.informationsystem.entity.Apply" useGeneratedKeys="true">
    insert into apply (a_type, a_state, a_date, 
      a_id, deal_id)
    values (#{aType,jdbcType=INTEGER}, #{aState,jdbcType=INTEGER}, #{aDate,jdbcType=TIMESTAMP}, 
      #{aId,jdbcType=INTEGER}, #{dealId,jdbcType=INTEGER})
  </insert>
  <insert id="addStoreRegisterApply">
    insert into apply (a_type, a_state, a_date,
    a_id)
    values (1, 0,now(),
    #{storeId,jdbcType=INTEGER} )
  </insert>
  <select id="getAllApplyUndealt" resultMap="BaseResultMap">
    select *
    from apply
    where a_type = 1 and a_state = 0;
  </select>
  <select id="getStateNameForStore" resultType="java.lang.String">
    select state_name
    from type_state_bind
    where type_id = 1 and state_id = #{aState,jdbcType=INTEGER}
  </select>
  <select id="getApplyNameForStore" resultType="java.lang.String">
    select s_name
    from store
    where store_id = #{aId,jdbcType=INTEGER};
  </select>
  <update id="setApplyPass">
    update apply
    set a_state = 1,examination_time = now(),deal_id = #{param2,jdbcType=INTEGER}
    where apply_id = #{param1,jdbcType=INTEGER}
  </update>
  <update id="setApplyDeny">
    update apply
    set a_state = 2,examination_time = now(),deal_id = #{param2,jdbcType=INTEGER}
    where apply_id = #{param1,jdbcType=INTEGER}
  </update>
</mapper>