<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sspu.informationsystem.mapper.DishesMapper">
  <resultMap id="BaseResultMap" type="sspu.informationsystem.entity.Dishes">
    <!--@Table dishes-->
    <id column="dishes_id" jdbcType="INTEGER" property="dishesId" />
    <result column="d_name" jdbcType="VARCHAR" property="dName" />
    <result column="d_price" jdbcType="DECIMAL" property="dPrice" />
    <result column="d_details" jdbcType="VARCHAR" property="dDetails" />
    <result column="d_photo" jdbcType="VARCHAR" property="dPhoto" />
    <result column="d_store_id" jdbcType="INTEGER" property="dStoreId" />
  </resultMap>
  <sql id="Base_Column_List">
    dishes_id, d_name, d_price, d_details, d_photo, d_store_id
  </sql>
  <insert id="insert" keyColumn="dishes_id" keyProperty="dishesId" parameterType="sspu.informationsystem.entity.Dishes" useGeneratedKeys="true">
    insert into dishes (d_name, d_price, d_details, 
      d_photo, d_store_id)
    values (#{dName,jdbcType=VARCHAR}, #{dPrice,jdbcType=DECIMAL}, #{dDetails,jdbcType=VARCHAR}, 
      #{dPhoto,jdbcType=VARCHAR}, #{dStoreId,jdbcType=INTEGER})
  </insert>
    <update id="updateDish">
      update dishes
      set
      d_name = #{dName,jdbcType=VARCHAR},
      d_price = #{dPrice,jdbcType=DECIMAL},
      <if test="dPhoto != null">d_photo = #{dPhoto,jdbcType=VARCHAR},</if>
      d_details = #{dDetails,jdbcType=VARCHAR}
      where dishes_id = #{dishesId,jdbcType=INTEGER}
    </update>
  <delete id="deleteDish">
    delete from dishes
    where dishes_id = #{dishesId,jdbcType=INTEGER}
  </delete>
    <select id="getInfo" resultMap="BaseResultMap">
      select *
      from dishes
      where dishes_id = #{dId,jdbcType=INTEGER}
    </select>
</mapper>